th, td {
    text-align: center;
}

.msgs {
    text-align: left;
}

.pointer {
    cursor: pointer;
}

.table tbody tr:hover td {
    background-color: #cfffc1;
}

.table>tbody>tr>th {
    vertical-align: middle;
}

th.ion-android-arrow-dropup, th.ion-android-arrow-dropdown {
    background-color: #cfffc1;
    font-size: 0.8vw;
    color: #cc131e;
}

th.ion-android-arrow-dropup span, th.ion-android-arrow-dropdown span {
    color: black;
    font-size: 0.8vw;
    margin-left: 0.2vw;
}

body {
    color: black;
    font-size: 1vm;
}


/*template*/
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, .1);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-close {
    position: relative;
    top: 0%;
    left: 100%;
}

ion-icon {
    font-size: 32px;
    color: #cfffc1;
}

.modal-header h3 {
    margin-top: 0;
    color: #cfffc1;
}

.modal-body {
    margin: 10px 0;
    display: block;
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}