<div id="app" @scroll="onScroll">
    <h1 class="text-center" >Primablock addresses</h1>
    <table class="table table-hover table-center" id="table">
        <tr>
            <th>#</th>
            <th>Address</th>
            <th :class="filterClassArrow('balance')" @click="setFilter('balance')" class="pointer">
                <span>Balance</span>
            </th>
            <th :class="filterClassArrow('date')" @click="setFilter('date')" class="pointer">
                <span>Creation date</span>
            </th>
            <th :class="filterClassArrow('last_transaction')" @click="setFilter('last_transaction')" class="pointer">
                <span>Last transaction</span>
            </th>
            <th :class="filterClassArrow('tokens.value')" @click="setFilter('tokens.value')" class="pointer">
                <span>Tokens</span>
            </th>
            <th :class="filterClassArrow('allocation')" @click="setFilter('allocation')" class="pointer">
                <span>Allocation</span>
            </th>
            <th :class="filterClassArrow('pool_value')" class="pointer">
                <span @click="setFilter('pool_value')">Pool value</span>
                <select v-model="selectPool">
                    <option>All</option>
                    <option>Filled</option>
                    <option>Unfilled</option>
                </select>
            </th>
            <th :class="filterClassArrow('coin')" @click="setFilter('coin')" class="pointer">
                <span>Coin</span>
            </th>
            <th :class="filterClassArrow('contribution_max')" @click="setFilter('contribution_max')" class="pointer">
                <span>Contribution max</span>
            </th>
            <th :class="filterClassArrow('contribution_min')" @click="setFilter('contribution_min')" class="pointer">
                <span>Contribution min</span>
            </th>
            <th :class="filterClassArrow('fee')" @click="setFilter('fee')" class="pointer">
                <span>Fee</span>
            </th>
            <th>From dialog</th>
            <th  :class="filterClassArrow('status')" class="pointer">
                <span @click="setFilter('status')">Status</span>
                <select v-model="selectStatus">
                    <option>All</option>
                    <option>Open</option>
                    <option>Cancelled</option>
                    <option>Paid</option>
                    <option>Refund</option>
                    <option>No key</option>
                </select>
            </th>
        </tr>
        <tr v-for="(prm, i) in orderedPrms" :key="i">
            <td>
                {{ i + 1 }}
            </td>
            <td>
                <p>
                    <a target="_blank" :href="'https://etherscan.io/address/' + prm.address">{{prm.address}}</a>
                </p>
                <p>
                    <a target="_blank" :href="'https://primablock.com/pool/' + prm.address + '/contributor'">primablock</a>
                </p>
            </td>
            <td>
                {{prm.balance}} ETH
            </td>
            <td>
                {{prm.date}}
            </td>
            <td>
                {{prm.last_transaction}}
            </td>
            <td>
                <a id="show-modal-token" @click="showModalToken= true; setModalData(prm.tokens, null)" >{{prm.tokens.value}}</a>
            </td>
            <td>
                {{prm.allocation}}
            </td>
            <td :style="{background: colorPoolValue(prm.allocation, prm.pool_value_percent)}">
                {{prm.pool_value}} <span v-if="prm.allocation">({{prm.pool_value_percent}} %)</span>
            </td>
            <td>
                {{prm.coin}}
            </td>
            <td>
                {{prm.contribution_max}}
            </td>
            <td>
                {{prm.contribution_min}}
            </td>
            <td>
                {{prm.fee}}%
            </td>
            <td>
                <div v-for="(dlg, dkey) in prm.dialogs" :key="dkey">
                    <a target="_blank" :href="'dialog.html?dialog=' + dlg.id">{{dlg.title}}</a> <a id="show-modal-msg" @click="showModalMsg = true; setModalData(dlg.msgs, dlg.title)">Messages</a>
                </div>
            </td>
            <td>
                <span>{{prm.status}}</span>
            </td>
        </tr>
    </table>
    <button type="button" class="btn center-block" @click="fetchDataParams();">New</button>
    <msg-view v-if="showModalMsg" @close="showModalMsg = false;">
        <h3 slot="header">{{ title }}</h3>
        <div slot="body">
            <table class="table table-hover table-center">
                <tr>
                    <th>id</th>
                    <th>From</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
                <tr v-for="msg in this.msgs">
                    <td>{{msg.id}}</td>
                    <td >{{ msg.from.name }}</td>
                    <td v-html="msg.title"></td>
                    <td >{{ msg.date }}</td>
                </tr>
            </table>
        </div>
    </msg-view>
    <msg-view v-if="showModalToken" @close="showModalToken = false;">
        <h3 slot="header">{{ title }}</h3>
        <div slot="body">
            <table class="table table-hover table-center">
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Value</th>
                    <th>Coin</th>
                    <th>Date</th>
                </tr>
                <tr v-for="token in this.msgs.tokens">
                    <td>{{ token.from }}</td>
                    <td>{{ token.to }}</td>
                    <td>{{ token.value }}</td>
                    <td>{{ token.coin_code }}</td>
                    <td>{{ token.date }}</td>
                </tr>
            </table>
        </div>
    </msg-view>
</div>


<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask" @keyup.enter="$emit('close')">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <ion-icon @click="$emit('close')" class="modal-close pointer" name="close"></ion-icon>

                        <slot name="header">

                        </slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body">

                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="modal-default-button" @click="$emit('close')">
                                OK
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>
<!--<script src="primablock.js"></script>-->
<script src="https://unpkg.com/ionicons@4.1.0/dist/ionicons.js"></script>