<!-- app/views/index.phtml -->
<html>
<head>
    <?php if ($this->assets->exists('header')) {
        $this->assets->outputJs('header');
    }
         ?>
<?php $this->assets->outputCss(); ?>
<?php echo Phalcon\Tag::getTitle(); ?>
</head>
<body>
    <?php echo $this->getContent(); ?>

    <?php if ($this->assets->exists('footer')) {
        $this->assets->outputJs('footer');
    }
    ?>
</body>
</html>