<div id="app">
    {{ title }}
    <ul v-for="dialog in dialogs">
        <a :href="'/dialogs/messages/' + dialog['dlg_id']"><li> {{ dialog['dlg_title'] }}</li></a>
    </ul>

</div>
<script>
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                title: 'Telegram dialogs',
                dialogs: <?php echo $dialogs; ?>
            }
        }
    })
</script>

<?php echo $params; ?>