<div id="app">
    <span>Messages from dialog {{ title }}</span>
    <ul v-for="message in messages">
        <li v-if="message.msg_title"> {{ message.msg_title }}</li>
    </ul>

</div>
<script>
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                title: '<?php echo $dlg_title; ?>',
                messages: <?php echo $messages; ?>
            }
        }
    })
</script>